 .header{
    font-family: serif;
    font-size: 4rem;
    color: #09406c;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-right: 90px;
  }